<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Logos/Fotoperfil.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Zárate Matías Francisco</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mi</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid impedit quam blanditiis, aut a vitae eligendi odit id deleniti est unde nobis error ad molestias repellat ipsam animi ratione asperiores?</p>
        </span>
    </div>
</div>