<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat amet impedit nobis voluptatum delectus ipsum voluptatibus dicta quaerat? Vel, facilis architecto porro rerum saepe quisquam culpa omnis consectetur illum doloribus?</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat amet impedit nobis voluptatum delectus ipsum voluptatibus dicta quaerat? Vel, facilis architecto porro rerum saepe quisquam culpa omnis consectetur illum doloribus?</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat amet impedit nobis voluptatum delectus ipsum voluptatibus dicta quaerat? Vel, facilis architecto porro rerum saepe quisquam culpa omnis consectetur illum doloribus?</p>
        </ul>
    </div>
</div>